.section{
    width: 100%;
    /* background-color: var(--bg-shade); */

    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.movieSection{
    background-color: var(--bg-shade);

}
.vid{
    display: none;
}

.container{
    max-width: 140rem;
    margin:0 auto;
    padding: 6rem 3rem;
}
.movieSection h5{
    text-align: center;
}
.ptitle {
    color: var(--heading-color);
    padding-top: 20px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;

    line-height: 90px;
  }
  .ptitlecolor {
    color: var(--primary);
  }

.grid_two_section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60rem;
}


.card_section {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 293px));
    justify-content: center;
    padding: 40px;
    
  }
  .card {
    cursor: pointer;
    position: relative;
    display: inline;
    border-radius: .8rem;
  }
  .card_image {
    margin: 0;
  }
  .card_image img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
  }



  @media screen and (max-width:768px) {
    .grid_two_section{
        grid-template-columns: 1fr;
    }

    /* .card_section{ */
        /* justify-content: center; */
        /* grid-template-columns: repeat(3, minmax(100px, 293px)); */

    /* } */

}
@media screen and (max-width:997px) {
.card_section{
    grid-template-columns: repeat(3, minmax(100px, 293px));
}

}
@media screen and (max-width:689px) {
    .card_section{
        grid-template-columns: repeat(2, minmax(200px, 293px));
    }
    
    }
    /* @media screen and (max-width:551px) {
        .card_section{
            grid-template-columns: auto;
        }
        
        } */